* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: #fff;
}

main {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

.card {
    width: 30%;
    position: relative;
    display: inline-block;
    margin: 15px;
    text-align: left;
}

.card:hover {
    cursor: pointer;
}

.card .pics_labels {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.pics_labels img {
    width: 100%;
    display: inline-block;
}

.pics_labels img:nth-of-type(2){
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card:hover img:nth-of-type(2) {
    opacity: 1;
}

.card:hover .fav {
    font-size: 40px;
    color: rgb(255, 128, 128);
}

.fav {
    position: absolute;
    top: 20px;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: lightgray;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.labels {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.pics_labels .tag {
    padding: 4px;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.pics_labels .tag:first-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pics_labels .tag:nth-of-type(2) {
    border-radius: 4px;
}

.disc_pctg {
    background-color: red;
}

.eco {
    background-color: green;
}

.details {
    margin-top: -5px;
    font-weight: bold;
}

.details h4, span[class*="price"] {
    text-transform: uppercase;
}

.details h5 {
    font-size: 13px;
    font-weight: 300;
}

.details span[class*="price"]:nth-of-type(1) {
    color: red;
}

.details span[class*="price"]:nth-of-type(2) {
    text-decoration: line-through;
    font-weight: lighter;
}

.details h5 {
    margin-top: 5px;
    font-weight: lighter;
}